.muffin {
  padding-left: 100px;
  padding-top: 20px;
  width: 150px;
}

.container {
  padding-left: 120px;
  width: 600px;
}

.form {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
}

.dateTimePicker {
  width: 250px;
}

.duration {
  width: 150px;
}